//////////////////////////////
// Variables
//////////////////////////////
$two-columns: 37.5em;
$black: #3c3c3c;

//////////////////////////////
// All Style Prototype Items
//////////////////////////////
[data-sp-class] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

//////////////////////////////
// Style Tile Wrapper
//////////////////////////////
%sp-class-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

[data-sp-class="__style-tile"] {
  @extend %sp-class-clearfix;
}

//////////////////////////////
// Style Tile Content Area
//////////////////////////////
[data-sp-class="__style-tile--content"] {
  margin-bottom: .75em;
  @media (min-width: #{$two-columns}) {
    width: 61.8%;
    float: left;
    padding: .25em .5em;
  }
}

//////////////////////////////
// Style Tile Abstracts
//////////////////////////////
[data-sp-class="__style-tile--abstracts"] {
  margin-bottom: .75em;
  @media (min-width: #{$two-columns}) {
    width: 38.2%;
    float: right;
    clear: right;
    padding: .25em .5em;
  }
}

//////////////////////////////
// Style Tile Lists
//////////////////////////////
%sp-class-style-tile--list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

//////////////////////////////
// Colors
//////////////////////////////
[data-sp-class="style-tile--COLORS"] {
  @extend %sp-class-style-tile--list;
}
//////////////////////////////
// Images
//////////////////////////////
[data-sp-class="style-tile--IMAGES"] {
  @extend %sp-class-style-tile--list;
}
//////////////////////////////
// Descriptors
//////////////////////////////
[data-sp-class="style-tile--DESCRIPTORS"] {
  @extend %sp-class-style-tile--list;
}

//////////////////////////////
// Style Tile Item
//////////////////////////////
[data-sp-class^="style-tile--item"] {
  display: inline-block;
  vertical-align: middle;
  margin: .25em;

  [data-sp-class="style-tile--COLORS"] & {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }

  [data-sp-class="style-tile--IMAGES"] & {
    width: 50%;
    margin: 0;
    padding: .25em;

    @media (min-width: #{$two-columns - 10.75em}) {
      width: 33%;
    }

    @media (min-width: #{$two-columns}) {
      width: 100%;
    }

    @media (min-width: #{$two-columns + 9.75em}) {
      width: 50%;
    }

    @media (min-width: #{$two-columns + 43.5em}) {
      width: 33%;
    }

    @media (min-width: #{$two-columns + 94.25em}) {
      width: 25%;
    }

    > img {
      max-width: 100%;
      height: auto;
      border-radius: .5em;
    }
  }
}

//////////////////////////////
// Section Headers
//////////////////////////////
[data-sp-class="section--header"] {
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  font-size: .7em;
  letter-spacing: .1em;
  text-transform: uppercase;

  color: $black;
  border-bottom: 1px solid rgba($black, .15);

  width: 100%;
  clear: both;
  margin: 2em 0;
  padding: 1em 0 .15em;

  :first-of-type & {
    margin-top: 0;
  }
}

[data-sp-class="section--group"] {
  padding: 1em;
  margin-bottom: 2em;
}

//////////////////////////////
// Nav
//////////////////////////////
[data-sp-class="menu"] {
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #222222;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  position: absolute;

  @extend %sp-class-clearfix;
}

%sp-class-menu--item {
  border-bottom: 0;
  border-right: 1px solid rgba(white, .05);
  float: left;
  position: relative;
  cursor: pointer;
  list-style: none;
  width: 100%;
  clear: both;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

[data-sp-class="menu--item"] {
  @extend %sp-class-menu--item;
}

%sp-class-menu--link {
  font-size: .7em;
  color: gray;
  text-decoration: none;
  display: block;
  line-height: 1;
  padding: 1em;
  transition: color .15s ease-out;

  &:hover,
  &:focus {
    color: white;
    background: rgba(white, .05);
  }
}

[data-sp-class="menu--link"] {
  @extend %sp-class-menu--link;
}

[data-sp-class="menu--dropdown-toggle"] {
  @extend %sp-class-menu--link;
  text-transform: uppercase;
  &:after {
    float: none;
    content: ' +';
    font-size: .9em;
    display: inline-block;
    margin-left: (.25em / .9);
    width: (.25em / .9);
  }
  &[data-sp-state="active"]:after {
    content: ' -';
  }
}

[data-sp-class="menu"] [data-sp-class="menu"] {
  position: relative;
  top: 2em;
  left: 0;
  margin: 0;
  padding: 0;
  padding-left: .5em;

  overflow: hidden;
  max-height: 0;
  min-width: 10em;
  transition: max-height .1s ease-out;

  &[data-sp-state="active"] {
    max-height: 120em;
    overflow: auto;
    // position: relative;
  }
}

[data-sp-class="menu--dropdown-toggle"][data-sp-state="active"] ~ [data-sp-class="menu"][data-sp-state="active"] {
  position: relative;
  top: 0;
}

[data-sp-class="menu--dropdown"] {
  @extend %sp-class-menu--item;
}

[data-sp-class="navigation"] {
  background: #222222;
  height: 2.1em;
  margin-bottom: .75em;
  @extend %sp-class-clearfix;

  > [data-sp-class="menu"] > [data-sp-class="menu--dropdown"] {

    > [data-sp-class="menu--dropdown-toggle"] {
      position: relative;
    }

    > [data-sp-class="menu"] {
      position: absolute;
      top: 2em;
    }
  }
}

[data-sp-class="navigation--search"] {
  float: right;
  margin-top: .5em;
}