@import "toolkit";
@import "breakpoint";

$max-page-width: 100% !default;
$single-to-multi-column: 600px !default;
$header-color: #fef9ef !default;

$vertical-horizontal-nav: 721px !default;
@import "../setup/app/variables";

@mixin golden($dir) {
  @include box-sizing('border-box');

  @if $dir == 'left' {
    float: #{$dir};
    width: 59.3046972%;
  }
  @else if $dir == 'right' {
    float: #{$dir};
    width: 35.6953028%;
  }
}