<!doctype html>
<html lang="en" ng-app="StylePrototype">
<head>
  <meta charset="UTF-8">
  <title>Style Prototype</title>
  <!-- build:css css/app.css -->
  <link rel="stylesheet" href="css/prototype.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- endbuild -->
  <base href="/">
</head>
<body>
  <header ng-controller="GlobalHeader">
    <nav role="navigation" data-sp-class="navigation">
      <div menu="menu"></div>
      <input type="search" ng-model="search.term" placeholder="Search" results='5' autosave='GlobalSearch' name='s' data-sp-class="navigation--search">
    </nav>
  </header>
<!--
  <header ng-controller="spYamlRead">

    <ul>
      <li ng-repeat="cmpt in components.files | filter:search | orderBy:'name'">
        <span ng-include="cmpt.path"></span>
      </li>
    </ul>

  </header> -->

  <main ng-view>

  </main>

  <!-- build:js js/app.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/js-yaml/js-yaml.js"></script>
  <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>

  <script src="js/directives.js"></script>
  <script src="js/app.js"></script>
  <!-- endbuild -->
</body>
</html>