//////////////////////////////
// Build out your Color Guide!
//
// All of your colors from your Style Guide are available
//////////////////////////////
@include generate-colour-guide($black, $primary, $secondary, $tertiary, $quadrary);