 //- Set Up Your Colour Guide!
 //-  The colour guide is set up to make your life easy by providing you a visual indicator of your colours. Simply add or change the names in the @colours variable to the variables you use in your style guide and update the @colourShades variable so the guide knows how many shades it needs to have in the HTML for each colour and you're set!
- var colors = ['black', 'primary', 'secondary', 'tertiary', 'quadrary']
- var colorShades = 6