//- Setup for our Style Tile.
//- For more information on Style Tiles, see http://styletil.es/

//- The total number of colors you'd like to include
- var colors = 5

//- A list of images/patterns you'd like to use for inspiration.
//- Can be local or external images.
//- Sample images by Nasa: http://www.flickr.com/photos/nasahqphoto
- var images = ['images/moon.jpg', 'images/ice.jpg', 'images/iceberg.jpg', 'images/clouds.jpg', 'http://lorempixel.com/output/abstract-q-c-640-480-1.jpg']

//- Insiprational keywords describing the current direction
- var keywords = ['Default', 'Minimal', 'Nothing', 'Design Me!']

//- A list of classes you'd like to use for the display buttons
- var buttons = {"Call to Action": 'call-to-action', "Big Button": 'big-button', "Warning Button": ['big-button', 'red']}