extends ../../layouts/_layout

block header
  mixin header("UI Patterns")

block content
  article.messaging
    header
      h2 Messages
    include ../../widgets/_messages

  article.buttons
    header
      h2 Buttons
    include ../../widgets/_buttons

  article.pagers
    header
      h2 Pagers
    include ../../widgets/_pagers