//- Client Information
//-   clientName - The name of your Client
//-   clientLogo - The address to the client's logo image
//-   version - The version of the Style Guide
- var clientName = "NBCUniversal"
- var clientLogo = false
- var version = "1"
- var language = "en"

//- Author Information
//-   The author of the style guide
- var author = "Sam Richard"