//////////////////////////////
// Setup variables for the Style Prototypes system
//////////////////////////////
$max-page-width: 100%;
$single-to-multi-column: 600px;
$header-color: #fef9ef;

$vertical-horizontal-nav: 721px;