extends ../../layouts/_layout

block header
  mixin header("Basic Typography Sample")

block content
  article
      :markdown
        # Help, help, I'm being repressed!

        How do you know she is a witch? Ah, now we see the violence inherent in the system! Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! She looks like one. Ni! Ni! Ni! Ni!

        ## Makes Ben Hur look like an Epic!

        You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits! The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king. It's only a model. She looks like one. Burn her anyway! I am your king.

        *   But you are dressed as one…
        *   A newt?
        *   Well, I got better.
        *   She looks like one.

        ### What a strange person

        Oh! *Come and see the violence inherent in the system!* Help, help, I'm being repressed! She looks like one. Be quiet! Ni! Ni! Ni! Ni! What do you mean? Be quiet!

        > Bravely bold Sir Robin rode forth from Camelot.
        > He was not afraid to die, O brave Sir Robin.
        > He was not at all afraid to be killed in nasty ways.
        > Brave, brave, brave, brave Sir Robin.
        > He was not in the least bit scared to be mashed into a pulp.
        > Or to have his eyes gouged out and his elbows broken.
        > To have his kneecaps split and his body burned away.
        > And all his limbs hacked and mangled, brave Sir Robin.
        > His head smashed in and his heart cut out.
        > And his liver removed and his bowels unplugged.

        #### Help, help, I'm being repressed!

        Where'd you get the **coconuts**? She looks like one. Why?

        1.  Shh! Knights, I bid you welcome to your new home. Let us ride to [Camelot](http://en.wikipedia.org/wiki/Camelot)!
        2.  Bloody Peasant!
        3.  Where'd you get the coconuts?

        ##### Am I right?

        Who's that then? Well, I didn't vote for you. Did you dress her up like this? Well, she turned me into a newt. No, no, no! Yes, yes. A bit. But she's got a wart. I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!

      <div class="video fluid"><iframe width="560" height="315" src="http://www.youtube.com/embed/zrzMhU_4m-g?rel=0" frameborder="0" allowfullscreen></iframe></div>

      :markdown
        ###### Sets The Cinema Back 900 Years!

        Shut up! Will you shut up?! Ah, now we see the violence inherent in the system! How do you know she is a witch? Burn her anyway! We shall say 'Ni' again to you, if you do not appease us. Well, Mercia's a temperate zone!

        Bloody Peasant! We found them. On second thoughts, let's not go there. It is a silly place.

        Found them? In Mercia?! The coconut's tropical! I have to push the pram a lot. Well, Mercia's a temperate zone!

        Oh, ow! Shut up! The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in winter, yet these are not strangers to our land. Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! Well, we did do the nose. Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods.

        ![This is an Ex Parrot](http://dummyimage.com/600x400/000000/ffffff&text=ex-parrot)

        Well, Mercia's a temperate zone! He hasn't got shit all over him. The nose? Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods. Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed!

        I dunno. Must be a king. We shall say 'Ni' again to you, if you do not appease us. The Knights Who Say Ni demand a sacrifice! Now, look here, my good man. And the hat. She's a witch!

        I dunno. Must be a king. We want a shrubbery!! I have to push the pram a lot. We found them. No, no, no! Yes, yes. A bit. But she's got a wart. Well, how'd you become king, then?

        It's only a model. Shut up! Will you shut up?! And the hat. She's a witch! I have to push the pram a lot. Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods.

  footer
    :markdown
        Content from [Fillerama](http://chrisvalleskey.com/fillerama/)