.pagers.group
  ul.pager
    li.pager-first
      a(href="#", title="Go to first page") « First
    li.pager-previous
      a(href="#", title="Go to previous page")‹ Previous
    li.pager-item
      a(href="#", title="Go to page 1") 1
    li.pager-item
      a.active(href="#", title="Go to page 2") 2
    li.pager-item
      a(href="#", title="Go to page 3") 3
    li.pager-next
      a(href="#", title="Go to next page") Next ›
    li.pager-last
      a(href="#", title="Go to last page") Last »
